# API Keys and secrets
.env
.streamlit/secrets.toml

# Output files
outputs/
*.csv
*.json
!research_configs.json
!cache_metadata.json

# ignore all cached outputs EXCEPT selected ones
cached_outputs/*
!cached_outputs/therapynotes_ai_features/
!cached_outputs/jane_messaging_collaboration/
!cached_outputs/ensora_documentation_workflows/
!cached_outputs/mentalyc_documentation_workflows/
!cached_outputs/ensora_documentation_workflows
!cached_outputs/therapynotes_documentation_workflows/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter
.ipynb_checkpoints

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution
build/
dist/
*.egg-info/